/* Home page overrides. Loaded after base.css. */

.card-title {
    font-size: 30px;
}

.card-body {
    background-color: rgb(250, 250, 250);
}

.hero {
    margin-right: 0;
}

#game-choice {
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
}
